<h1>Library Managment</h1><hr>

<!-- <app-add-student></app-add-student> -->

<!-- <app-dynamic-table></app-dynamic-table> -->

<!-- <app-interaction-c (childEvent)="message=$event" [parentData]="name"></app-interaction-c>
<div style="text-align: center;">
   <h1>Welcome {{message}}</h1>
</div> -->

<!-- <app-log-in></app-log-in> -->

<!-- <app-test></app-test> -->

<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-practice></app-practice> -->

<!-- <app-learnvern></app-learnvern> -->













<router-outlet></router-outlet>
