.color{
    font-size: 25px;
    color: rgb(233, 82, 12);
}
.style{
    font-style: italic;
}

.danger{
    color: red;
}

h2{
    text-align: center;
    text-decoration: underline;
    color:brown;
}

h4{
    font-size: 25px;
}
h3{
    margin-left: 50px;
}