h2{
    color: brown;
    font-family: cursive;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}
div{
    padding: 20px;
    background-color:rgb(243, 87, 243);
    border-radius: 10px;
    box-sizing: border-box;

}

input  {
    width: 100%;
    padding: 15px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid rgb(233, 210, 84);
    border-radius: 40px;
    box-sizing: border-box;
  }

  label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    text-align: left;
}

  button{
    margin: 10px;
    width: 100%;
    font-size: 25px;
    color: rgb(178, 190, 4);
    background-color:rgb(3, 76, 78);
    text-transform:uppercase;
    font-family:fantasy;
    opacity: 0.6;
    border-radius: 50px;
  }
  
  button:hover{
      background-color:rgb(1, 143, 43);
      cursor: pointer;
      opacity: 1;
  }